/*----  General styles ---*/
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700&display=swap');

html, body {
    margin: 0;
    padding: 0;  
    max-width: 100%;
    overflow-x: hidden;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;   
    background-image: url("../img/hero_img_lg1.jpg");    
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#navbar{
    background-color: #A4352C;
}

#navbar-logo{
    margin-left: 10px;
}

#buttons-container{
    position: absolute;
    width: 80%;
    bottom: 5%;
    align-content: center;
}

#signup-form{
    font-size: 15px;
    background-color: #E6F4F1;
}


.avatar-image{
    width: 30px;
    height: 30px;
}

.card-image{
    width: 45px;
    height: 45px;
}

.location-card{
    width: 300px;
    height: auto;
}
#card-div{
    margin: auto;
    float: left;
}

.message-board{
    justify-content: center;
    background-color: white;
    width: 200px;
    
}

.card-title h5{
    color: #0056B2;
    font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro-cont{
    display: flex;
}

#intro{
    margin: auto;
}

#intro-title{
    align-self: center;
    
}

@media screen and (max-width: 375px) {
    /*small phones*/
    #navbar-logo{
        font-size: 1.8em;
    }   
}

@media screen and (max-width: 325px) {
    /*small phones*/
    #navbar-logo{
        font-size: 1.6em;
    }   
}