/*----  General styles ---*/
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700&display=swap');

html, body {
    margin: 0;
    padding: 0;  
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;   
    background-image: url("../img/hero_img_lg1.jpg");    
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/* Index page intro text with icons */
.fa, .fas{
    font-size: 24px;
}

.intro-title{
    font-size: 27px;
}

#index-list li
    {
    line-height:250%
}
/* Finish - Index page intro text with icons*/

/* Navbar */
#navbar{
    background-color: #A4352C;
}

#navbar-logo{
    margin-left: 10px;
}

#buttons-container{
    position: absolute;
    width: 80%;
    bottom: 5%;
    align-content: center;
}

#signup-form{
    font-size: 15px;
    background-color: #E6F4F1;
}

.material-icons{
    color: #336C8F;
}

#menu-burger{
    color: white;
}

.btn-small{
    background-color: #336C8F;
    font-size: 12px;
    margin: 3px 2px 3px 0;
}

bnts{
    margin-right: 1px;
}

.btn-small .waves-effect{
    color: #6B9FC5;
    background-color: #6B9FC5;
}

.avatar-image{
    width: 30px;
    height: 30px;
}

.card-image{
    width: 45px;
    height: 45px;
}

.location-card{
    width: 300px;
    height: auto;
}

#card-div{
    margin: auto;
    float: left;
}

.message-board{
    justify-content: center;
    background-color: white;
    width: 200px;
}

.card-title h5{
    color: #0056B2;
    font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro-cont{
    display: flex;
}

#intro{
    margin: auto;
}

#intro-title{
    align-self: center;
    
}

#trip-search-title{
    padding-top: 10px;
    margin-top: 3px;
    margin-bottom: 0px;
}

#search-trips-panel{
    margin-bottom: 2px;
}

#search-skiresorts-panel{
    padding-bottom: 0px;
    padding-top: 5px;
    margin: 3px 0 5px 0;
    padding-right: 0px;
    padding-left: 0px;
}

.td{
    padding: 0px;
}

.ski-resort-card{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0;
    margin-bottom: 0;
}

/* Color or the intro card */
.blue.darken-2{
    background-color: #336C8F !important;
}

.blue.lighten-5{
    background-color: #A0ACBD !important;
}

/* Float bubble to open a user's profile and all ski resorts */
a[data-tool-tip] {
    position: relative;
}

a[data-tool-tip]::after {
    content: attr(data-tool-tip);
    display: block;
    position: absolute;
    background-color: #A4352C; 
    padding: 0.8em;
    color: white;
    border-radius: 10px;
    font-size: 0.8em;
    bottom: 0;
    left: -2em;
    white-space: nowrap;
    transform: scale(0);
    transition:
        transform ease-out 150ms,
        bottom ease-out 150ms;
}

a[data-tool-tip]:hover::after {
    transform: scale(1);
    bottom: 100%;
}
/* End - Float bubble to open a user's profile */

/* Modal for users' profiles */
.modal {
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 60%;
    width: 40%;
    will-change: top, opacity;
}

.user-profile h4{
    color:  #A4352C;
}

.user-profile p{
    color:  #336C8F;
}

/* End - Modal for users' profiles */

/* Footer */
#footer-img{
    width: 5em;
    height: 5em;
}

#footer-modal{
    width: 200px;
    height: 200px;
    bottom: 0;
}

#footer-content{
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#footer-panel{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

#footer-title{
    color:#336C8F;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 0.15em;
}

#footer-text{
    font-size: 0.7em;
    color: #336C8F;
    margin-bottom: 0.1em;
}

@media screen and (max-width: 992px) {
    /* minimize mobile sidenav menu  */
    #mobile-demo {
        height: 260px;
        width: 160px;
        padding-bottom: 0;
    }  
}

@media screen and (max-width: 786px) {
    /* minimize mobile sidenav menu  */
    #mobile-demo {
        height: 260px;
        width: 160px;
        padding-bottom: 0;
    }  
}

@media screen and (max-width: 576px) {
    /* minimize mobile sidenav menu  */
    #mobile-demo {
        height: 260px;
        width: 160px;
        padding-bottom: 0;
    }  
}

@media screen and (max-width: 375px) {
    /*small phones*/
    /*  Logo size smaller */
    #navbar-logo{
        font-size: 1.6em;
    }   

    /* minimize mobile sidenav menu  */
    #mobile-demo {
        height: 270px;
        width: 160px;
        padding-bottom: 0;
    }  
}

@media screen and (max-width: 285px) {
    /*very small phones*/
    /*  Logo size smaller */
    #navbar-logo{
        font-size: 1.3em;
    }   
}
