{% extends 'base.html'%} 
{% block content %}

<div class="container">
    <div id="new-skiresort-card" class="card valign-wrapper">
        <div class="card-content grey lighten-4">
            <div id="new-skiresort" class="card-panel grey lighten-5">
                <span class="card-title">NEW SKI RESORT</span>
                <div class="row">
                    <form action="{{ url_for('insert_skiresort')}}" method="POST" class="col s12">
                        <div class="input-field col s12 m6 l6">
                            <i class="small material-icons prefix">account_circle</i>
                            <input placeholder="ski resort name" id="location_name" name="location_name" type="text" class="validate" required>
                        </div>
                        <div class="input-field col s12 m6 l6 xl6">
                            <i class="small material-icons prefix">description</i>
                            <input placeholder="short description" id="description" name="description" type="text" class="validate" required>
                        </div>
                        <div class="input-field col s12 m6 l6 xl6">
                            <i class="material-icons prefix">web</i>
                                <input placeholder="website" id="website" name="website" type="url" class="validate" required>
                        </div>
                        <div class="input-field col s12 m6 l6 xl6">
                            <i class="material-icons prefix">map</i>
                            <input placeholder="map link" id="map" name="map" type="url" class="validate" required>
                        </div>
                        <div class="input-field col s12 m6 l6 xl6">
                            <i class="material-icons prefix">terrain</i>
                            <select class="icons dropdown-content validate" id="glacier" name="glacier" required aria-required="true">
                                <option value="" disabled selected>Glacier</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                        <div class="input-field col s12 m6 l6 xl6">
                            <i class="material-icons prefix">brightness_3</i>
                            <select class="icons dropdown-content validate" id="night" name="night" required aria-required="true">
                                <option value="" disabled selected>Night skiing</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                        <div class="input-field col s12 m12 l12 xl12">
                            <i class="small material-icons prefix">comment</i>
                            <input placeholder="additional info" id="other_info" name="other_info" type="text" class="validate">
                        </div>
                        <div id="skiresort-select" class="input-field col s12 m6 l6 xl6">
                            <i class="material-icons prefix">face</i>
                            <select class="validate icons dropdown-content" id="thumbnail" name="thumbnail" required>
                            <option value="" disabled selected>Thumbnail</option>
                            <option value="/static/img/resorts_thumbs/mountain01.png" data-icon="/static/img/resorts_thumbs/mountain01.png">Peak</option>
                            <option value="/static/img/resorts_thumbs/mountain02.png" data-icon="/static/img/resorts_thumbs/mountain02.png">Glacier</option>
                            <option value="/static/img/resorts_thumbs/mountain03.png" data-icon="/static/img/resorts_thumbs/mountain03.png">Map</option>
                            <option value="/static/img/resorts_thumbs/mountain04.png" data-icon="/static/img/resorts_thumbs/mountain04.png">Slopes</option>
                            <option value="/static/img/resorts_thumbs/mountain05.png" data-icon="/static/img/resorts_thumbs/mountain05.png">Forest</option>
                            <option value="/static/img/resorts_thumbs/mountain06.png" data-icon="/static/img/resorts_thumbs/mountain06.png">Skilift</option>
                            <option value="/static/img/resorts_thumbs/mountain07.png" data-icon="/static/img/resorts_thumbs/mountain07.png">Hut</option>
                            <option value="/static/img/resorts_thumbs/mountain08.png" data-icon="/static/img/resorts_thumbs/mountain08.png">Cottage</option>
                            <option value="/static/img/resorts_thumbs/mountain09.png" data-icon="/static/img/resorts_thumbs/mountain09.png">Race</option>
                            <option value="/static/img/resorts_thumbs/mountain10.png" data-icon="/static/img/resorts_thumbs/mountain10.png">Sunrise</option>
                            </select>
                        </div>                            
                        <button class="btn waves-effect waves-red right" type="submit">Add Ski Resort</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}