{% extends 'base.html'%} 
{% block content %}

<div class="container">
    <div class="card valign-wrapper">
            <div class="card-content grey lighten-4">
                <div id="new_skiresort" class="card-panel grey lighten-5">
                    <span class="card-title">NEW SKI RESORT</span>
                    <div class="row">
                        <form action="{{ url_for('insert_skiresort') }}" method="POST" class="col s12">
                            <div class="row">
                                <div class="input-field col s12 m12 l6">
                                    <i class="small material-icons prefix">account_circle</i>
                                    <input placeholder="Ski resort name" id="location_name" name="location_name" type="text" class="validate" required>
                                </div>
                                <div class="input-field col s12 m12 l6">
                                    <i class="small material-icons prefix">description</i>
                                    <input placeholder="Short description" id="description" name="description" type="text" class="validate" required>
                                </div>
                                <div class="input-field col s12 m12 l6">
                                    <i class="material-icons prefix">web</i>
                                    <input placeholder="website" id="website" name="website" type="url" class="validate" required>
                                </div>
                                <div class="input-field col s12 m12 l6">
                                    <i class="material-icons prefix">map</i>
                                    <input placeholder="map link" id="map" name="map" type="url" class="validate" required>
                                </div>
                                <div class="input-field col s12 m12 l12">
                                    <div class="row">
                                        <div class="input-field col s6 m6 l6">
                                            
                                                <label for="spring"><span>Spring</span>
                                                    <input type="checkbox" id="spring" name="spring" />
                                                </label>
                                            
                                        </div>    
                                        <div class="input-field col s6 m6 l6">
                                            
                                                <label for="autumn"><span>Autumn</span>
                                                    <input type="radio" id="autumn" name="autumn" />
                                                </label>
                                            
                                        </div>    
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6 m6 l6">
                                            <p>
                                                <label for="night"><span>Night</span>
                                                    <input type="checkbox" id="night" name="night"/>
                                                </label>
                                            </p>
                                        </div> 
                                        <div class="input-field col s6 m6 l6">
                                            <p>
                                                <label for="glacier"><span>Glacier</span>
                                                    <input type="checkbox" id="glacier" name="glacier"/>
                                                </label>
                                            </p>
                                        </div> 
                                    </div>
                                </div>
                                <div class="input-field col s12 m12 l6">
                                    <i class="small material-icons prefix">comment</i>
                                    <input placeholder="additional info" id="other_info" name="other_info" type="text" class="validate" required>
                                </div>
                                <label class="checkbox-inline">
                                <div class="input-field col s12 m12 l6">
                                    <i class="material-icons prefix">face</i>
                                    <select class="icons dropdown-content" id="avatar" name="avatar" required="" aria-required="true">
                                        <option value="1" selected>Choose a Thumbnail</option>
                                        <option value="/static/img/resorts_thumbs/mountain01.png" data-icon="/static/img/resorts_thumbs/mountain01.png"></option>
                                        <option value="/static/img/resorts_thumbs/mountain02.png" data-icon="/static/img/resorts_thumbs/mountain02.png"></option>
                                        <option value="/static/img/resorts_thumbs/mountain03.png" data-icon="/static/img/resorts_thumbs/mountain03.png"></option>
                                        <option value="/static/img/resorts_thumbs/mountain04.png" data-icon="/static/img/resorts_thumbs/mountain04.png"></option>
                                        <option value="/static/img/resorts_thumbs/mountain05.png" data-icon="/static/img/resorts_thumbs/mountain05.png"></option>
                                        <option value="/static/img/resorts_thumbs/mountain06.png" data-icon="/static/img/resorts_thumbs/mountain06.png"></option>
                                        <option value="/static/img/resorts_thumbs/mountain07.png" data-icon="/static/img/resorts_thumbs/mountain07.png"></option>
                                        <option value="/static/img/resorts_thumbs/mountain08.png" data-icon="/static/img/resorts_thumbs/mountain08.png"></option>
                                        <option value="/static/img/resorts_thumbs/mountain09.png" data-icon="/static/img/resorts_thumbs/mountain09.png"></option>
                                        <option value="/static/img/resorts_thumbs/mountain10.png" data-icon="/static/img/resorts_thumbs/mountain10.png"></option>
                                    </select>
                                </div>
                            </div>
                            <button class="btn waves-effect waves-red right" type="submit">Add Ski Resort</button>
                        </form>
                    </div>
                </div>
            </div>
        
    </div>
</div>

{% endblock %}