{% extends 'base.html'%} 
{% block content %}

<div class="container">
    <div class="card valign-wrapper">
        <div class="card-content grey lighten-4">
            <div id="new_skiresort" class="card-panel grey lighten-5">
                <span class="card-title">NEW TRIP</span>
                <div class="row">
                    <form action="{{ url_for('insert_trip') }}" method="POST" class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">terrain</i>
                                <select id="skiresort" name="skiresort" class="validate" required>
                                    <option value="" disabled selected>Choose Ski Resort</option>
                                    {% for skiresort in skiresorts %}
                                        <option value="{{skiresort.location_name}}">{{skiresort.location_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="input-field col s12 m6 l6">
                                <i class="material-icons prefix">today</i>
                                <input id="from" name="from" type="text" class="datepicker" required>
                                <label for="icon_prefix">From:</label>
                        </div>
                        <div class="input-field col s12 m6 l6">
                                <i class="material-icons prefix">today</i>
                                <input id="to" name="to" type="text" class="datepicker" required>
                                <label for="icon_prefix">To:</label>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <i class="material-icons prefix">supervisor_account</i>
                            <input placeholder="how many adults?" id="adults" name="adults" type="number" class="validate" required>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <i class="material-icons prefix">child_care</i>
                            <input placeholder="how many kids?" id="kids" name="kids" type="number" class="validate" required>
                        </div>
                        <div class="input-field col s12 m6 l6">
                            <i class="material-icons prefix">ac_unit</i>
                            <select class="validate" id="ski_snowboard" name="ski_snowboard" required aria-required="true">
                                <option value="" disabled selected>Ski/Snowboard</option>
                                <option value="ski">Ski</option>
                                <option value="Snowboard">Snowboard</option>
                            </select>
                        </div>
                        <div class="input-field col s12 m12 l12">
                            <i class="small material-icons prefix">comment</i>
                            <input placeholder="additional info" id="other_info" name="other_info" type="text" class="validate" required>
                        </div>                   
                        <button class="btn waves-effect waves-red right" type="submit">Save Trip</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}