{% extends 'base.html'%} 
{% block content %}

<div class="container">
    <div class="row valign center-align">
        <div id="messaging" class="card col s12 blue lighten-5">
            <div class="card-panel blue darken-2">
                <span class="white-text text-darken-2">
                    <p id="messaging-title">MESSAGING UNDER CONSTRUCTION</p>
                    <p><i class="white large material-icons prefix">leak_add</i></p>
                    <p>The messaging functionality will be added shortly.</p>
                    <p>We apologize for the inconvenience.</p>
                </span>
            </div>
        </div>
    </div>
</div>

{% endblock %}

