{% extends 'base.html'%} 
{% block content %}

<div class="container">
    <div class="row valign center-align">
        <div id="messaging" class="card col s12 blue lighten-5">
            <div class="card-panel blue darken-2">
                <span class="white-text text-darken-2">
                    <p id="messaging-title">MESSAGING UNDER CONSTRUCTION</p>
                    <p><i class="white large material-icons prefix">leak_add</i></p>
                    <p>The messaging functionality will be added shortly.</p>
                    <hr>
                    <p id="message-close">Press the button below to close this window.</p>
                    <button class="close-button" value="Close this window" type="button" onclick="self.close()"><i class="material-icons">close</i></button>
                </span>
            </div>
        </div>
    </div>
</div>

{% endblock %}

