{% extends 'base.html'%} 
{% block content %}

<div class="container">
    <div class="card valign-wrapper">
            <div class="card-content grey lighten-4">
                <div id="new_skiresort" class="card-panel grey lighten-5">
                    <span class="card-title">EDIT SKI RESORT</span>
                    <div class="row">
                        <form action="{{ url_for('update_skiresort', skiresort_id=skiresort._id) }}" method="POST" class="col s12">
                                <div class="input-field col s12 m12 l6">
                                    <i class="small material-icons prefix">account_circle</i>
                                    <input value="{{skiresort.location_name}}" id="location_name" name="location_name" type="text" class="validate" required>
                                </div>
                                <div class="input-field col s12 m12 l6">
                                    <i class="small material-icons prefix">description</i>
                                    <input value="{{skiresort.description}}" id="description" name="description" type="text" class="validate" required>
                                </div>
                                <div class="input-field col s12 m12 l6">
                                    <i class="material-icons prefix">web</i>
                                    <input value="{{skiresort.website}}" id="website" name="website" type="url" class="validate" required>
                                </div>
                                <div class="input-field col s12 m12 l6">
                                    <i class="material-icons prefix">map</i>
                                    <input value="{{skiresort.map}}" id="map" name="map" type="url" class="validate" required>
                                </div>
                                <div class="input-field col s12 m12 l6">
                                    <i class="material-icons prefix">terrain</i>
                                    <select class="icons dropdown-content" id="glacier" name="glacier" required aria-required="true">
                                        <option value="{{skiresort.glacier}}" disabled selected>Glacier: {{skiresort.glacier}}</option>
                                        <option value="yes">Yes</option>
                                        <option value="no">No</option>
                            </select>
                                </div>
                                <div class="input-field col s12 m12 l6">
                                    <i class="material-icons prefix">brightness_3</i>
                                    <select class="icons dropdown-content" id="night" name="night" required aria-required="true">
                                        <option value="{{skiresort.night}}" disabled selected>Night: {{skiresort.night}}</option>
                                        <option value="yes">Yes</option>
                                        <option value="no">No</option>
                            </select>
                                </div>
                                <div class="input-field col s12 m12 l12">
                                    <i class="material-icons prefix">comment</i>
                                    <input value="{{skiresort.other_info}}" id="other_info" name="other_info" type="text" class="validate" required>
                                </div>
                                <div class="input-field col s12 m12 l6">
                                    <img class="center" src="{{skiresort.thumbnail}}" width="30" height="30"/>
                                    <select value="{{skiresort.thumbnail}}" class="validate" id="thumbnail" name="thumbnail" required aria-required="true">
                                        <option value="{{skiresort.thumbnail}}" disabled selected>Update thumbnail</option>
                                        <option value="/static/img/resorts_thumbs/mountain01.png" data-icon="/static/img/resorts_thumbs/mountain01.png">Peak</option>
                                        <option value="/static/img/resorts_thumbs/mountain02.png" data-icon="/static/img/resorts_thumbs/mountain02.png">Glacier</option>
                                        <option value="/static/img/resorts_thumbs/mountain03.png" data-icon="/static/img/resorts_thumbs/mountain03.png">Map</option>
                                        <option value="/static/img/resorts_thumbs/mountain04.png" data-icon="/static/img/resorts_thumbs/mountain04.png">Slopes</option>
                                        <option value="/static/img/resorts_thumbs/mountain05.png" data-icon="/static/img/resorts_thumbs/mountain05.png">Forest</option>
                                        <option value="/static/img/resorts_thumbs/mountain06.png" data-icon="/static/img/resorts_thumbs/mountain06.png">Skilift</option>
                                        <option value="/static/img/resorts_thumbs/mountain07.png" data-icon="/static/img/resorts_thumbs/mountain07.png">Hut</option>
                                        <option value="/static/img/resorts_thumbs/mountain08.png" data-icon="/static/img/resorts_thumbs/mountain08.png">Cottage</option>
                                        <option value="/static/img/resorts_thumbs/mountain09.png" data-icon="/static/img/resorts_thumbs/mountain09.png">Race</option>
                                        <option value="/static/img/resorts_thumbs/mountain10.png" data-icon="/static/img/resorts_thumbs/mountain10.png">Sunrise</option>
                                    </select>
                                    
                                </div>                            
                            <button class="btns btn-small waves-effect right" type="submit">Save</button>
                            <a href="{{ url_for('ski_resorts') }}" class="btn-small waves-effect right">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>

{% endblock %}