{% extends 'base.html'%} 
{% block content %}

<div class="container">
    <div class="card valign-wrapper">
        <div class="card-content grey lighten-4">
            <div id="new_skiresort" class="card-panel grey lighten-5">
                <span class="card-title">EDIT TRIP</span>
                <div class="row">
                    <form action="{{ url_for('update_trip', trip_id=trip._id) }}" method="POST" class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">terrain</i>
                                <select id="skiresort" name="skiresort">
                                    <option value="{{trip.location_name}}" disabled selected>{{trip.location_name}}</option>
                                    {% for skiresort in skiresorts|sort(attribute="location_name") %}
                                        <option value="{{skiresort.location_name}}">{{skiresort.location_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="input-field col s12 m12 l6">
                            <i class="material-icons prefix">today</i>
                            <input value="{{trip.from}}" id="from" name="from" type="text" class="datepicker" required>
                            <label for="icon_prefix">From:</label>
                        </div>
                        <div class="input-field col s12 m12 l6">
                            <i class="material-icons prefix">today</i>
                            <input value="{{trip.to}}" id="to" name="to" type="text" class="datepicker" required>
                            <label for="icon_prefix">To:</label>
                        </div>
                        <div class="input-field col s12 m12 l6">
                            <i class="material-icons prefix">supervisor_account</i>
                            <input value="{{trip.adults}}" id="adults" name="adults" type="number" class="validate" min="0" required>
                        </div>
                        <div class="input-field col s12 m12 l6">
                            <i class="material-icons prefix">child_care</i>
                            <input value="{{trip.kids}}" id="kids" name="kids" type="number" class="validate" min="0" required>
                        </div>
                        <div class="input-field col s12 m12 l6">
                            <i class="material-icons prefix">ac_unit</i>
                            <select class="validate" id="ski_snowboard" name="ski_snowboard" required aria-required="true">
                                <option value="{{trip.ski_snowboard}}" disabled selected>{{trip.ski_snowboard}}</option>
                                <option value="Ski">Ski</option>
                                <option value="Snowboard">Snowboard</option>
                            </select>
                        </div>
                        <div class="input-field col s12 m12 l12">
                            <i class="small material-icons prefix">comment</i>
                            <input value="{{trip.other_info}}" id="other_info" name="other_info" type="text" class="validate" required>
                        </div>                   
                        <button class="btns btn-small waves-effect right" type="submit">Save</button>
                        <a href="{{ url_for('trips') }}" class="btn-small waves-effect right">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}