{% block navbar %}

<header>
    <div class="navbar-fixed">
        <nav id="navbar">
            <div class="nav-wrapper">
                <div>
                    <a href="{{url_for('show_index')}}" id="navbar-logo" class="brand-logo left">Hit the Slopes!</a>
                </div>
                <ul class="right">
                    <li><a class="menu-item" href="{{url_for('sign_up_page')}}">SIGN UP</a></li>
                    <li><a class="menu-item" href="{{url_for('sign_in_page')}}">SIGN IN</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

{% endblock %}