{% block navbar %}

<header>
    <div class="navbar-fixed">
        <nav id="navbar">
            <div id="nav-wrapper" class="nav-wrapper">
                <a href="{{url_for('show_index')}}" id="navbar-logo" class="brand-logo">Hit the Slopes!</a>
                <a href="#" data-activates="mobile-demo" data-target="mobile-demo" class="sidenav-trigger button-collapse"><i id="menu-burger" class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="{{url_for('trips')}}">Trips</a></li>
                        <li><a href="{{url_for('add_trip')}}">New Trip</a></li>
                        <li><a href="{{url_for('ski_resorts')}}">Ski Resorts</a></li>
                        <li><a href="{{ url_for('add_skiresort') }}">New Ski Resort</a></li>
                        <li><a href="{{url_for('sign_out')}}">Sign Out</a></li>  
                    </ul>
            </div>
        </nav>
    </div>        
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{url_for('trips')}}">Trips</a></li>
            <li><a href="{{url_for('add_trip')}}">New Trip</a></li>
            <li><a href="{{url_for('ski_resorts')}}">Ski Resorts</a></li>
            <li><a href="{{ url_for('add_skiresort') }}">New Ski Resort</a></li>
            <li><a href="{{url_for('sign_out')}}">Sign Out</a></li>
        </ul>
    
</header>

{% endblock %}