{% extends 'base.html'%} 
{% block content %}

<div class="container">
    <div class="row valign center-align">
        <div class="card col s12 blue lighten-5">
            <div class="card-panel blue darken-2">
                <span class="white-text text-darken-2">
                    <p class="intro-title">PERMISSION DENIED</p>
                    <p><i class="white large material-icons prefix">fingerprint</i></p>
                    <p>You have no rights to edit or delete this listing.</p>
                </span>
            </div>
        </div>
    </div>
</div>

{% endblock %}