{% extends 'base.html'%} 
{% block content %}

<div id="search-skiresorts-panel" class="row card-panel">
    <h5 class="center">SEARCH SKI RESORTS</h5> 
    <form action="{{ url_for('search_ski_resorts') }}" method="post" class="col s12">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12 m6">
                <i class="small material-icons prefix">search</i>
                <input type="text" name="query" id="query" class="validate" required>
            </div>
            <div class="col s12 m4 search-btn-box">
                <div class="col s12 m12 l12">
                    <a href="{{ url_for('ski_resorts') }}" class="search-btn red btn text-shadow">Reset</a>
                </div>
                <div class="col s12 m12 l12">
                    <button type="submit" class="search-btn light-blue btn text-shadow">Search</button>
                </div>
            </div>
        </div>
    </form>
</div>

<table>
    <tbody>
    {% for skiresort in skiresorts|sort(attribute="location_name") %} 
        <tr>
            <td class="td">
                <div class="card ski-resort-card">
                    <div class="card-content ski-resort-content row">
                        <div class="col s12 m5 l5">
                            <div class="row"> 
                                <div class="col s6 m6 l6">
                                    <span class="location-name card-title"><h5>{{skiresort.location_name}}</h5></span>  
                                    <span class=""><p class="skiresort-description">{{skiresort.description}}</p></span>
                                </div>
                                <div class="col s6 m6 l6 thumbnail-div">
                                    <img class="thumbnail" src="{{skiresort.thumbnail}}" width="85" height="85"/>
                                </div>
                            </div>
                        </div>
                        <div class="col s6 m3 l3">
                            <div class="row">
                                <div class="col s12 m12 l12">
                                    <p>Night skiing:   <strong>{{skiresort.night}}</strong></p>
                                </div>
                                <div class="col s12 m12 l12">
                                    <p>Glacier:   <strong>{{skiresort.glacier}}</strong></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s6 m6 l6">
                                    <a href="{{skiresort.website}}" target="_blank"><strong>WEB</strong></a>
                                </div>
                                <div class="col s6 m6 l6">
                                    <a href="{{skiresort.map}}" target="_blank"><strong>MAP</strong></a>
                                </div>
                            </div>
                        </div>
                        <div class="col s6 m4 l4">
                            <div class="row">    
                                <div class="col">
                                    <p>Additional info:</p>
                                </div>
                                <div class="col">
                                    <p><strong>{{skiresort.other_info}}</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 m8 l8">
                        </div>
                        {% if session['user']|lower == skiresort.user|lower %} 
                            {% include 'ski_resorts_buttons.html' %}
                            {% endif %}
                    </div> 
                </div>
            </td>
        </tr>   
    {% endfor %}
    </tbody>
 </table>   

{% endblock %}