{% extends 'base.html'%} 
{% block content %}

<table>
    <tbody>
    {% for skiresort in skiresorts %}
        <tr>
            <td>
                <div class="card">
                    <div class="card-content row">
                        <div class="col s4 m4 l4">
                            <div class="row">
                            <span class="location-name teal"><h5 class="card-title">{{skiresort.location_name}}</h5></span>  
                            </div>
                            <div id="thumbnail-div" class="row">
                                <img src="{{skiresort.thumbnail}}" width="40" height="40"/>
                            </div>
                            <div class="row">
                                <p>{{skiresort.description}}</p>
                            </div>
                        </div>
                        <div class="card-title col s4 m4 l4">
                            <div class="">
                                <div class="row">
                                <p>Night skiing: {{skiresort.night}}</p>
                            </div>
                            <div class="row">
                                <p>Glacier: {{skiresort.glacier}}</p>
                            </div>
                            </div>
                            <div class="">
                                <a href="{{skiresort.website}}" target="_blank">Web</a>
                                <a href="{{skiresort.map}}" target="_blank">Map</a>
                            </div>
                        </div>
                        <div class="card-title col s4 m4 l4">
                            <div class="">
                                <p>Additional info:</p>
                            </div>
                            <div class="">
                                <p>{{skiresort.other_info}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <a href="{{url_for('edit_skiresort', skiresort_id=skiresort._id)}}" class="waves-effect waves-light btn-small">
                                <i class="material-icons right">playlist_add</i>Edit
                            </a>
                            <a href="{{url_for('delete_skiresort', skiresort_id=skiresort._id)}}" class="waves-effect waves-light btn-small">
                                <i class="material-icons right">delete_forever</i>Delete
                            </a>
                        </div>
                    </div> 

                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}